<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}
    {% endblock title %}</title>
  </head>

    {% block css %}
    {% endblock css %}

  
    
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/shop">Flutter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/shop">Home <span class="sr-only">(current)</span></a>
      </li>
      
    
      
      <li class="nav-item">
        <a class="nav-link" href="/shop/about">About</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/shop/contact">Contact Us</a>
      </li>
  <li class="nav-item">
        <a class="nav-link" href="/shop/tracker">Tracker</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/shop/checkout">CheckOut</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
    </ul>
    <form method="get" action="search/" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button type="button" class="btn btn-lg btn-danger mx-2" data-toggle="popover" title="" id="popcart" data-html="true" data-content="<h5>cart</h5>">cart(<span id="cart">0</span>)</button>
    
  </div>
</nav>
<body>
{% block body %}
<body>
</body>
{% endblock body %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   {% block js %}
   <script>
console.log("working");

if(localStorage.getItem('cart')==null){
  cart={};
  
  
}else{
  cart=JSON.parse(localStorage.getItem('cart'));
   total=0;
  for(values in cart){

    total+=cart[values][0];
  } 
  document.getElementById('cart').innerHTML=total;
}

$('.ca').click(function(){
  alert('hello');
  console.log("clicked");
  var idstr=this.id.toString();
  
  if(cart[idstr]!=undefined){
    cart[idstr]=cart[idstr]+1;
  }else{
    cart[idstr]=1;
  }
  console.log(cart);
  localStorage.setItem('cart',JSON.stringify(cart));
  
});


$('#popcart').popover();
//document.getElementById('popcart').setAttribute('data-content','<h5>cart</h5>');
</script>

   {% endblock js %}
  </body>
</html>