{% extends "shop/basic.html" %}

{% block body %}
<div class="container ">
	<h2>My Awesome Cart Tracker - Track your oeders.</h2>

<ul class="list-group" id="items">
  
</ul>
<form method="post my-2 my-lg-0">
{% csrf_token %}
  <div class="form-group ">

  	<div class="form-group">
    <label for="exampleInputPassword1">order Id</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="Order_id" placeholder="Enter Order_id" required>
  </div>
  
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


{% endblock body %}

{% block css %}
<style type="text/css">
	*{
		padding: 0;
		margin: 0; 
	}
	.add{
		padding: 20px;
		margin: 20px;
	}
	.list-group{
		width:50%;
		margin-left: 250px;
	}

</style>
{% endblock css %}

{% block js %}
<script type="text/javascript">
if(localStorage.getItem('cart')==null){
  cart={};
}else{
  cart=JSON.parse(localStorage.getItem('cart'));

}
  total=0;
  for(values in cart){

    total+=cart[values][0];
  }
  document.getElementById('cart').innerHTML=total;
  $('#popcart').popover();
  
</script>
{% endblock js %}